*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    position: relative;
}

header{
    display: flex;
    background-color: #119;
    width: 90vw;
    height: 70px;
    color: #FFF;
    border-radius: 25px;
    margin: 20px auto;
    animation: entete 4s ease .1s forwards ;
}

@keyframes entete{
    from{transform: translateY(-20px);
    opacity: 0;
    }
    to{transform: translateY(0px);
    opacity: 1;}
}


.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    margin: auto;
    width: 90vw;
    height: 70px;
}

.navbar li{
    border: #FFF 2px solid;
    list-style-type: none;
    border-radius: 40px;
    padding: 8px;
    animation: entete 4s ease .3s forwards
}

.navbar li:hover{
    background-color: #fff;
    border: 2px solid  #119 ;  
}

.navbar a{
    color: #FFF;
    font-size: 20px;
    text-decoration: none;
}

.navbar a:hover{
    color:  #119;
}

footer{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100vw;
    border: #666;
    height: 40px;
    background-color: #666;
    color: #FFF;
    animation: entete 6s ease .8s forwards;
}

footer p{
    text-align: center;
    font-size: 1em;
}

h1{
    text-align: center;
    animation: titre 3s ease .1s forwards;
}

@keyframes titre{
    0%{transform: translateX(-100%)
        scale(0)}
    50%{transform: translateX(100%)
        scale(.5)}
    100%{
        transform: translateX(0%)
        scale(1)}
}

.div{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 400%;
    background-color: rgb(22, 191, 233);
    border: 2px solid #119;
    border-radius: 16px;
    margin: 16px auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 10px;
    animation: entete 6s ease .5s forwards
}

